<a href="https://colab.research.google.com/github/LizethBustos/TalentTech/blob/main/Copia_de_Data_Analysis_using_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import sys
from tempfile import NamedTemporaryFile
from urllib.request import urlopen
from urllib.parse import unquote, urlparse
from urllib.error import HTTPError
from zipfile import ZipFile
import tarfile
import shutil

CHUNK_SIZE = 40960
DATA_SOURCE_MAPPING = ':https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-data-sets%2F63%2F589%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20240321%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20240321T195456Z%26X-Goog-Expires%3D259200%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3D561c081a038e9f323c7c58aecd61229f820abac59f3387f6ec7aadf828e55262832282eb46923ab940c78b5193c1cd96ddb1b28562a8446f75019cd487f822f131b00b4b865e026ec3abf603ca9ba270ba814bccad46eb18b4275cc8703a486753deb8fb2a92c042df5f43e877321384ce726f5df744bff569cf9842cb5c68552967aa61738fb432e32e0abc7621dec1fa368cf8c659fbda539727dd49d779e8081c6dd4614b55192734f111c930aa31de53e6397564033ba11283c7ccc4abdeaf13da888bc634ad255307668c55553810f789cf124001815e4416376dae960c27014bfe34928e5a2bf8dde45fa5418cdf4903a4a3571a106ffd8ad79e89ebb7'

KAGGLE_INPUT_PATH='/kaggle/input'
KAGGLE_WORKING_PATH='/kaggle/working'
KAGGLE_SYMLINK='kaggle'

!umount /kaggle/input/ 2> /dev/null
shutil.rmtree('/kaggle/input', ignore_errors=True)
os.makedirs(KAGGLE_INPUT_PATH, 0o777, exist_ok=True)
os.makedirs(KAGGLE_WORKING_PATH, 0o777, exist_ok=True)

try:
  os.symlink(KAGGLE_INPUT_PATH, os.path.join("..", 'input'), target_is_directory=True)
except FileExistsError:
  pass
try:
  os.symlink(KAGGLE_WORKING_PATH, os.path.join("..", 'working'), target_is_directory=True)
except FileExistsError:
  pass

for data_source_mapping in DATA_SOURCE_MAPPING.split(','):
    directory, download_url_encoded = data_source_mapping.split(':')
    download_url = unquote(download_url_encoded)
    filename = urlparse(download_url).path
    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)
    try:
        with urlopen(download_url) as fileres, NamedTemporaryFile() as tfile:
            total_length = fileres.headers['content-length']
            print(f'Downloading {directory}, {total_length} bytes compressed')
            dl = 0
            data = fileres.read(CHUNK_SIZE)
            while len(data) > 0:
                dl += len(data)
                tfile.write(data)
                done = int(50 * dl / int(total_length))
                sys.stdout.write(f"\r[{'=' * done}{' ' * (50-done)}] {dl} bytes downloaded")
                sys.stdout.flush()
                data = fileres.read(CHUNK_SIZE)
            if filename.endswith('.zip'):
              with ZipFile(tfile) as zfile:
                zfile.extractall(destination_path)
            else:
              with tarfile.open(tfile.name) as tarfile:
                tarfile.extractall(destination_path)
            print(f'\nDownloaded and uncompressed: {directory}')
    except HTTPError as e:
        print(f'Failed to load (likely expired) {download_url} to path {destination_path}')
        continue
    except OSError as e:
        print(f'Failed to load {download_url} to path {destination_path}')
        continue

print('Data source import complete.')

Failed to load (likely expired) https://storage.googleapis.com/kaggle-data-sets/63/589/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240321%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240321T195456Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=561c081a038e9f323c7c58aecd61229f820abac59f3387f6ec7aadf828e55262832282eb46923ab940c78b5193c1cd96ddb1b28562a8446f75019cd487f822f131b00b4b865e026ec3abf603ca9ba270ba814bccad46eb18b4275cc8703a486753deb8fb2a92c042df5f43e877321384ce726f5df744bff569cf9842cb5c68552967aa61738fb432e32e0abc7621dec1fa368cf8c659fbda539727dd49d779e8081c6dd4614b55192734f111c930aa31de53e6397564033ba11283c7ccc4abdeaf13da888bc634ad255307668c55553810f789cf124001815e4416376dae960c27014bfe34928e5a2bf8dde45fa5418cdf4903a4a3571a106ffd8ad79e89ebb7 to path /kaggle/input/
Data source import complete.

In [ ]:
#Improts

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

path = "../input/"  #Insert path here
database = path + 'database.sqlite'

In [ ]:
conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

Tabla paramétrica que registra los nombres de las tablas y la consulta SQL

In [ ]:
countries = pd.read_sql("""SELECT *
                        FROM Country;""", conn)
countries

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Country;': no such table: Country

In [ ]:
leagues = pd.read_sql("""SELECT *
                        FROM League
                        JOIN Country ON Country.id = League.country_id;""", conn)
leagues

In [ ]:
teams = pd.read_sql("""SELECT *
                        FROM Team
                        ORDER BY team_long_name
                        LIMIT 10;""", conn)
teams

In [ ]:
detailed_matches = pd.read_sql("""SELECT Match.id,
                                        Country.name AS country_name,
                                        League.name AS league_name,
                                        season,
                                        stage,
                                        date,
                                        HT.team_long_name AS  home_team,
                                        AT.team_long_name AS away_team,
                                        home_team_goal,
                                        away_team_goal
                                FROM Match
                                JOIN Country on Country.id = Match.country_id
                                JOIN League on League.id = Match.league_id
                                LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
                                LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
                                WHERE country_name = 'Spain'
                                ORDER by date
                                LIMIT 10;""", conn)
detailed_matches

El equipo local tiende a realizar más goles

In [ ]:
leages_by_season = pd.read_sql("""SELECT Country.name AS country_name,
                                        League.name AS league_name,
                                        season,
                                        count(distinct stage) AS number_of_stages,
                                        count(distinct HT.team_long_name) AS number_of_teams,
                                        avg(home_team_goal) AS avg_home_team_scors,
                                        avg(away_team_goal) AS avg_away_team_goals,
                                        avg(home_team_goal-away_team_goal) AS avg_goal_dif,
                                        avg(home_team_goal+away_team_goal) AS avg_goals,
                                        sum(home_team_goal+away_team_goal) AS total_goals
                                FROM Match
                                JOIN Country on Country.id = Match.country_id
                                JOIN League on League.id = Match.league_id
                                LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
                                LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
                                WHERE country_name in ('Spain', 'Germany', 'France', 'Italy', 'England')
                                GROUP BY Country.name, League.name, season
                                HAVING count(distinct stage) > 10
                                ORDER BY Country.name, League.name, season DESC
                                ;""", conn)
leages_by_season

In [ ]:
df1 = pd.DataFrame(index=np.sort(leages_by_season['season'].unique()), columns=leages_by_season['country_name'].unique())

df1.loc[:,'Germany'] = list(leages_by_season.loc[leages_by_season['country_name']=='Germany','avg_goals'])
df1.loc[:,'Spain']   = list(leages_by_season.loc[leages_by_season['country_name']=='Spain','avg_goals'])
df1.loc[:,'France']   = list(leages_by_season.loc[leages_by_season['country_name']=='France','avg_goals'])
df1.loc[:,'Italy']   = list(leages_by_season.loc[leages_by_season['country_name']=='Italy','avg_goals'])
df1.loc[:,'England']   = list(leages_by_season.loc[leages_by_season['country_name']=='England','avg_goals'])

df1.plot(figsize=(12,5),title='Average Goals per Game Over Time')

Indexing y slicing con loc: loc es un método utilizado para acceder y asignar valores a un DataFrame mediante etiquetas de fila y columna. En este caso, se utiliza para asignar valores a ciertas filas y columnas del DataFrame df1. El slicing con loc permite seleccionar un rango de filas o columnas utilizando etiquetas.

np.sort(): np.sort() es una función de la librería NumPy que se utiliza para ordenar elementos de un arreglo NumPy en orden ascendente. Aquí se utiliza para ordenar las temporadas únicas de leagues_by_season en orden ascendente antes de asignarlas como índice del DataFrame df1.

np.unique(): np.unique() es una función de NumPy que se utiliza para encontrar los elementos únicos en un arreglo NumPy. Aquí se utiliza para obtener los valores únicos de las temporadas y los nombres de países en leagues_by_season.

plot(): plot() es un método de Pandas que se utiliza para trazar gráficos basados en los datos de un DataFrame. En este caso, se utiliza para trazar un gráfico de líneas basado en los datos del DataFrame df1.

figsize: El parámetro figsize se utiliza para especificar el tamaño de la figura del gráfico. Se proporciona como una tupla de dos valores que representan el ancho y la altura de la figura en pulgadas.

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame(index=np.sort(leages_by_season['season'].unique()), columns=leages_by_season['country_name'].unique())

df2.loc[:,'Germany'] = list(leages_by_season.loc[leages_by_season['country_name']=='Germany','avg_goal_dif'])
df2.loc[:,'Spain']   = list(leages_by_season.loc[leages_by_season['country_name']=='Spain','avg_goal_dif'])
df2.loc[:,'France']   = list(leages_by_season.loc[leages_by_season['country_name']=='France','avg_goal_dif'])
df2.loc[:,'Italy']   = list(leages_by_season.loc[leages_by_season['country_name']=='Italy','avg_goal_dif'])
df2.loc[:,'England']   = list(leages_by_season.loc[leages_by_season['country_name']=='England','avg_goal_dif'])

df2.plot(figsize=(12,5),title='Average Goals Difference Home vs Out')

In [ ]:
df2

In [ ]:
players_height = pd.read_sql("""SELECT CASE
                                        WHEN ROUND(height)<165 then 165
                                        WHEN ROUND(height)>195 then 195
                                        ELSE ROUND(height)
                                        END AS calc_height,
                                        COUNT(height) AS distribution,
                                        (avg(PA_Grouped.avg_overall_rating)) AS avg_overall_rating,
                                        (avg(PA_Grouped.avg_potential)) AS avg_potential,
                                        AVG(weight) AS avg_weight
                            FROM PLAYER
                            LEFT JOIN (SELECT Player_Attributes.player_api_id,
                                        avg(Player_Attributes.overall_rating) AS avg_overall_rating,
                                        avg(Player_Attributes.potential) AS avg_potential
                                        FROM Player_Attributes
                                        GROUP BY Player_Attributes.player_api_id)
                                        AS PA_Grouped ON PLAYER.player_api_id = PA_Grouped.player_api_id
                            GROUP BY calc_height
                            ORDER BY calc_height
                                ;""", conn)
players_height

In [ ]:
import pandas as pd

# Unión de los DataFrames
merged_df = (
    match_df.merge(country_df, left_on='country_id', right_on='id')
            .merge(league_df, left_on='league_id', right_on='id', suffixes=('_match', '_league'))
            .merge(team_df, left_on='home_team_api_id', right_on='team_api_id', suffixes=('', '_home'))
            .merge(team_df, left_on='away_team_api_id', right_on='team_api_id', suffixes=('', '_away'))
)

# Seleccion de columnas requeridas y aplicación condiciones de filtro
result_df = merged_df.loc[merged_df['country_name'] == 'Spain', ['id_match', 'name_country', 'name_league', 'season', 'stage', 'date', 'team_long_name_home', 'team_long_name_away', 'home_team_goal', 'away_team_goal']]

# Ordenar por fecha
result_df = result_df.sort_values(by='date')

# Limitar a 10 resultados
result_df = result_df.head(10)

print(result_df)

In [ ]:
players_height.plot(x='calc_height',y='avg_overall_rating',figsize=(12,5),title='Potential vs Height')